<!doctype html>
<html lang="en" ng-app="DIApp">
<head>
    <meta charset="UTF-8">
    <script src="../angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dependency Injection in JavaScript(and AngularJs)</title>
</head>
<body>
<h1>ng-repeat</h1>
<div ng-controller="ShoppingListController">
    <h3>Shopping List:</h3>
<!--    <ul>-->
<!--        <li ng-repeat="item in shoppingList1">{{item}}</li>-->
<!--    </ul>-->

<!--    <ul>-->
<!--        <li ng-repeat="item in shoppingList2">-->
<!--            Buy {{item.quantity}} of {{item.name}}-->
<!--        </li>-->
<!--    </ul>-->
    <input type="text" ng-model="shoppingList2[0].quantity">
    <ul>
        <li ng-repeat="item in shoppingList2">
            {{$index+1}}. Buy {{item.quantity}} of {{item.name}}
        </li>
    </ul>
    <input type="text" ng-model="newItemName" placeholder="Item name">
    <input type="text" ng-model="newItemQuantity" placeholder="Item quantity">
    <button ng-click="addNewItem()">Add to List</button>
</div>
</body>
</html>